h1 {
	color: white;
}

h4 {
	color: white;
}

.lobby {
	background-color: rgba(0,0,0,0.5);
	border-radius: 25px;
	padding-bottom: 20px;
	max-height: 500px;
}

.game {
	background-color: rgba(0,0,0,0.5);
	max-height: 500px;
	border-radius: 25px;
	padding-top: 20px;
	min-height: 200px;	
}

.history {
	background-color: rgba(0,0,0,0.5);
	border-radius: 25px;
	padding-bottom: 20px;
	max-height: 500px;
}

.create {
	background-color: rgba(0,0,0,0.5);
	border-radius: 25px;
	padding-bottom: 15px;
}

.lobby-item {
	margin-top: 10px;
}

.people {
	overflow-y: auto;
	max-height: 90%;
}

.history-content {
	overflow-y: auto;
	max-height: 90%;

}

.history-item {
	margin-top: 15px;
    display: flow-root;
}

.board-title {
	margin-bottom: 50px;
}

.question-screen {

}

.final-screen {

}

.table-gen {
	overflow-y: auto;
	max-height: 90%;
}

.table-vote-result {
	overflow-y: auto;
}

.table-scoreboard-container {
	overflow-y: auto;
	max-height: 90%;
}